<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">create</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <!--CHANGE DB NAME BELOW-->

        <property name="connection.url">jdbc:postgresql://localhost/course_trackerdb</property>

        <!--CHANGE DB NAME ABOVE-->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>

        <!--PUT MAPPING FOR MODELS BELOW HERE-->

        <mapping class = "models.Course"/>
        <mapping class = "models.Student"/>
        <mapping class = "models.Mentor"/>
        <mapping class = "models.Lesson"/>

        <!--PUT MAPPING FOR MODELS ABOVE HERE-->

    </session-factory>
</hibernate-configuration>